POSTGRES_PASSWORD=password
POSTGRES_USER=postgres
POSTGRES_DB=notes
DB_PORT=5432
DB_HOST=127.0.0.1

REDIS_HOST=redis
REDIS_PORT=6379

AUTH_JWT_SECRET_KEY=secret
LIMIT=5

LOGS_DIR=logs
LOGS_FILE_NAME=logs/fastapi.json
LOGS_MAX_BYTES=15000000
LOGS_MODE=a
BACKUP_COUNT=5
